<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div th:fragment="logo">
        <div class="pure-menu-heading">LOGO</div>
    </div>
    <nav th:fragment="gnb">
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="" class="pure-menu-link">Company</a></li>
            <li class="pure-menu-item"><a href="" class="pure-menu-link">Service</a></li>
            <li class="pure-menu-item"><a href="" class="pure-menu-link">Product</a></li>
            <li class="pure-menu-item"><a href="" class="pure-menu-link">Community</a></li>
        </ul>
    </nav>
</header>