<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Using to Thymeleaf Layout3 & Form</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://purecss.io/layouts/marketing/styles.css">
    <style>
    .header { clear:both; display:block; }
    .header:after { content:""; display:block; clear:both; width:100%; }
    .comment { font-size:16px; color:#fff; }
    </style>
</head>
<body>
<div class="container" style="overflow-x:hidden;overflow-y:auto;">
    <header class="header" id="hd">
    <!--    <div th:insert="~{layout/header :: header}" id="header"></div>-->
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <div th:insert="~{layout/header :: logo}" id="logo"></div>
            <div th:insert="~{layout/header :: gnb}" id="gnb"></div>
        </div>
    </header>
    <div class="contents" style="clear:both;width:100%;position:static !important;">
        <div class="splash-container" style="clear:both;padding:40px;height:120vh;min-height:110vh;padding-top:150px;position:static !important;">
            <hr>
            <h2 style="border-bottom:2px solid #333;" class="title">교재 등록</h2>
            <p class="comment">새로 추가할 교재 정보를 입력하시기 바랍니다.</p>
            <form id="form" th:object="${book}" method="post">
                <table class="table">
                    <tbody>
                        <tr>
                            <th><label for="title">제목</label></th>
                            <td><input type="text" id="title" th:field="${book.title}" placeholder="책 제목 입력" required><br>
                                <span class="err" th:if="${#fields.hasErrors('title')}" th:errors="${title}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="creator">저자</label></th>
                            <td><input type="text" id="creator" th:field="${book.creator}" placeholder="저자 입력" required><br>
                                <span class="err" th:if="${#fields.hasErrors('creator')}" th:errors="${creator}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="publisher">출판사</label></th>
                            <td><input type="text" id="publisher" th:field="${book.publisher}" placeholder="출판사 입력" required><br>
                                <span class="err" th:if="${#fields.hasErrors('publisher')}" th:errors="${publisher}"></span>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="publisher">출판일</label></th>
                            <td><input type="text" id="pubDate" th:field="${book.pubDate}" placeholder="출판일 입력" required><br>
                                <span class="err" th:if="${#fields.hasErrors('pubDate')}" th:errors="${pubDate}"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="button" onclick="inputData()">등록</button>
            </form>
            <hr>
            <h2 style="border-bottom:2px solid #333;" class="title">교재 목록</h2>
            <hr>
            <div class="list" id="list">
                <th:block th:if="${bookMap != null}">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>연번</th>
                                <th>제목</th>
                                <th>저자</th>
                                <th>출판사</th>
                                <th>출판일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="book : ${bookMap}">
                                <td th:text="${book.seq}"></td>
                                <td th:text="${book.title}"></td>
                                <td th:text="${book.creator}"></td>
                                <td th:text="${book.publisher}"></td>
                                <td th:text="${book.pubDate}"></td>
                            </tr>
                        </tbody>
                    </table>
                </th:block>
            </div>
        </div>
    </div>
    <footer class="footer" id="ft" style="clear:both;width:100%;padding-top:20px;">
        <div class="content-wrapper">
            <div th:insert="~{layout/footer :: fnb}"></div>
            <div th:insert="~{layout/footer :: copy}"></div>
        </div>
    </footer>
    <script th:inline="javascript">
            function inputData() {
                var book = $("#form").serialize();
                $.ajax({
                    url: "/ex/test5",
                    data: book,
                    type: "post",
                    cache: false,
                    success: function(result) {
                        console.log(result);
                        $("#list").replaceWith(result);
                        $("input[type=text]").val("");
                        $(".err").text("");
                    },
                    error: function(err){
                        console.log(err);
                    }
                });
            }
    </script>
</div>
</body>
</html>