<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 홈</title>
</head>
<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button name="registration" type="Submit">Logout</button>
    </form>

    <div style="margin-top:40px">
        <div>
            <div>
                <span th:utext="${userName}"></span>
            </div>
            <div>
                <img th:src="@{/images/spring_icon.png}" alt="sucess image" width="400"/>
            </div>
            <p th:utext="${adminMessage}"></p>
        </div>
    </div>

</div>
</body>
</html>