<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta id="_csrf" name="_csrf" content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" content="${_csrf.headerName}"/>
    <title>메인 페이지</title>
</head>
<body>
    <h1>메인 페이지</h1>
    <p>표현법1 :
        <span th:text="${attrName}"></span>
    </p>
    <p>표현법2 :
        <span>[[${attrName}]]</span>
    </p>
    <hr>
    <h3>객체 출력</h3>
    <ul>
        <li>이름 : <span th:text="${human.name}"></span></li>
        <li>나이 : <span th:text="${human.age}"></span></li>
    </ul>
    <br>
    <ul>
        <li><span>이름 : [[${human.name}]]</span></li>
        <li><span>나이 : [[${human.age}]]</span></li>
    </ul>
    <hr>
    <h3>반복문 리스트 출력</h3>
    <ul>
        <li th:each="h : ${hList}">
            <span th:text="${h.name}"></span> :
            <span th:text="${h.age}"></span>
        </li>
    </ul>
    <br>
    <table>
        <thead>
            <tr><th>이름</th><th>나이</th></tr>
        </thead>
        <tbody>
            <tr th:each="h : ${hList}">
                <td th:text="${h.name}"></td>
                <td th:text="${h.age}"></td>
            </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{/login}">로그인</a>
    <br>
    <form th:action="@{login}" method="get">
        <button type="sumit">로그인</button>
    </form>
    <form th:action="@{registration}" method="get">
        <button type="sumit">회원가입</button>
    </form>
    <br>
</body>
</html>